* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.rooms {
  height: 470px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.rooms_details {
  position: relative;

  /* background-color: lightcoral; */
  height: 400px;
  width: 85%;
}
.room_info {
  position: relative;
  top: -13px;
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.room_icon {
  display: flex;

  gap: 15px;
}
.icon_text {
  display: flex;
  gap: 7px;
}
.room_head {
  font-size: 2rem;
  font-weight: 500;
}
.room_images {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 350px;

  align-items: end;
}
.room_large_img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.room_small_img {
  display: grid;
  width: 50%;
  gap: 10px;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.small_img {
  /* background-color: lightcoral; */
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.small_img1 {
  /* background-color: lightcoral; */
  border-top-right-radius: 20px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* host part */

.host {
  height: 70px;
  display: flex;
  justify-content: center;

  /* align-items: center; */
}
.rental {
  width: 85%;
  height: 100%;
  display: flex;
  align-items: start;
  overflow: hidden;
  justify-content: space-between;
}
.offering {
  margin-top: 5px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 50px;
  box-shadow: 2px 2px 8px 2px rgba(188, 179, 179, 0.5);
  border-radius: 8px;
  padding: 10px;
}
.rental_head {
  font-size: 1.5rem;
  font-weight: 500;
}

.reserve {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.guest_review {
  margin-top: 20px;
  border: 1px solid gainsboro;
  border-radius: 10px;
  width: 55%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.guest_fav {
  display: flex;
  align-items: center;
  height: 75px;
  text-align: center;
}

.fee_guest {
  margin-top: 10px;
  width: 35%;
  margin-right: 5px;
  height: 60%;
  box-shadow: 2px 2px 10px 2px rgba(220, 217, 217, 0.5);
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.rate_guest{
  width: 85%;
  height: 90%;
    display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
 
}
.line {
  width: 2px;
  height: 40px;
  background-color: gainsboro;
}
.guest_rate {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.guest_head {
  font-weight: 500;
  line-height: 1.3;
}
.reserve_btn{
  border: none;
  color: white;
  font-size: 1.2rem;
  width: 342px;
  font-weight: 600;
  border-radius: 50px;
  height: 50px;
  background: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 );
}