.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: var(
    #ffffff,
    linear-gradient(180deg, #ffffff 39.9%, #f8f8f8 100%)
  );
}
nav ul li {
  list-style: none;
}
nav ul {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}
.leftBar {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.leftBar button {
  outline: none;
  border: none;
  background: #ffff;
  font-weight: bolder;
}
.leftBar button:hover {
  background-color: rgb(245, 244, 244);
  border-radius: 15px;
}
.searchbar {
  background-color: rgb(245, 244, 244);
  display: flex;
  justify-content: center;
  align-items: center;
}
.bar {
  padding: 30px;
}
.mainBar {
  height: 90px;
  width: 700px;
  background-color: #fff;
  border-radius: 50px;
  border: 1px gray solid;
  display: flex;
  justify-content: space-evenly;
}
.roomCotainer {
  margin-left: 15px;
  margin-right: 15px;
}
.cards {
  display: flex;
  /* flex-direction: row; */
  gap: 16px;
  flex-wrap: wrap; 
  
}
.card{
    position: relative;
}
.card img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}
.card .heart svg{
    position: absolute;
    top: 5px;
    left: 260px;
}
.footer{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
     background-color: rgb(245, 244, 244);
}
.footer ul li {
    list-style: none;
    
}


@media screen  and (min-width:300px) and (max-width:800px){
  
 .navbar {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }
  .leftBar {
    display: none;
  }
  .searchbar{
 display: none;
  }
    
}
@media screen  and (min-width:300px) and (max-width:600px){
.footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer ul {
    padding: 0;
  }

  .footer ul li {
    margin-bottom: 8px;
  }
}