*{
  overflow-x: hidden;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: var(
    #ffffff,
    linear-gradient(180deg, #ffffff 39.9%, #f8f8f8 100%)
  );
}
nav ul li {
  list-style: none; cursor: pointer;
}
nav ul {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}
.leftBar {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.leftBar button {
  outline: none;
  border: none;
  background: linear-gradient(135deg, #ffffff, #e9ecef);
  border-radius: 10px;
  font-weight: bolder;
}
.leftBar button:hover {
  background-color: rgb(245, 244, 244);
  border-radius: 15px;
}
.searchbar {
  background-color: rgb(245, 244, 244);
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.bar {
  
  padding: 30px;
}
.mainBar {
  height: 90px;
  width: 700px;
  background-color: #fff;
  border-radius: 50px;
  border: 1px gray solid;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.roomCotainer {
  margin: 0 15px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
}

.card {
  position: relative;
  width: 206.8px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  background-color: white;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card .heart {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.heart svg {
  transition: transform 0.2s;
}
.heart:hover svg {
  transform: scale(1.1);
}

/* .roomCotainer {
  margin-left: 15px;
  margin-right: 15px;
}
.cards {
  display: flex;

  gap: 16px;
  flex-wrap: wrap;
}
.card {
  position: relative;
}
.card img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}
.card .heart svg {
  position: absolute;
  top: 5px;
  left: 260px;
} */
.footer {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  background-color: rgb(245, 244, 244);
}
.footer ul li {
  list-style: none;
}

@media screen and (min-width: 300px) and (max-width: 800px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }
  .leftBar {
    display: none;
  }
  .searchbar {
    display: none;
  }
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer ul {
    padding: 0;
  }

  .footer ul li {
    margin-bottom: 8px;
  }
}
